@model H_EstateAgency2.Models.Property

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyTitle" class="control-label">Name of the Property</label>
                <input asp-for="PropertyTitle" class="form-control" />
                <span asp-validation-for="PropertyTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PropertyType" class="control-label">Type of Property</label>
                <br />
                <select asp-for="PropertyType" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.listoftypes,"PTypeName","PTypeName"))">
                </select>
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PropertyCity" class="control-label">City of the Property</label><br />
                <select asp-for="PropertyCity" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.listofcities,"PCityName","PCityName"))">
                </select>

                <span asp-validation-for="PropertyCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyAddress" class="control-label">Exact Address</label>
                <input asp-for="PropertyAddress" class="form-control" />
                <span asp-validation-for="PropertyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyArea" class="control-label"> Area of Property in M2</label>
                <input asp-for="PropertyArea" class="form-control" />
                <span asp-validation-for="PropertyArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyPrice" class="control-label">Price of Property in $</label>
                <input asp-for="PropertyPrice" class="form-control" />
                <span asp-validation-for="PropertyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyYearOfBuilt" class="control-label">Property Build Year</label>
                <input asp-for="PropertyYearOfBuilt" class="form-control" />
                <span asp-validation-for="PropertyYearOfBuilt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyComBuilt" class="control-label">Company Built the Property</label>
                <input asp-for="PropertyComBuilt" class="form-control" />
                <span asp-validation-for="PropertyComBuilt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PublishingDate" class="control-label">Publishing Date</label>
                <input asp-for="PublishingDate" class="form-control" type="date" />
                <span asp-validation-for="PublishingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                @*<textarea name="comment" form="usrform" asp-for="Description" class="form-control">Enter text here...</textarea>*@
                <input asp-for="Description" class="form-control" type="text" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isAvailable" /> @Html.DisplayNameFor(model => model.isAvailable)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
