@model H_EstateAgency2.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyYearOfBuilt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyYearOfBuilt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyComBuilt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyComBuilt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    <div class="row">
        @foreach (var item in Model.pictures)
        {
            <div class="col-4">
                <div class="card" style="width: 25rem; ">
                    <img style="width: 25rem; height:25rem" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.photo))" />

                </div>

            </div>

        }
    </div>
    



</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PropertyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
