@model IEnumerable<H_EstateAgency2.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                ID
                @*@Html.DisplayNameFor(model => model.PropertyType)*@
            </th>
            <th>
                Type
                @*@Html.DisplayNameFor(model => model.PropertyType)*@
            </th>
            <th>
                Name
                @*@Html.DisplayNameFor(model => model.PropertyTitle)*@
            </th>
            <th>
                City
                @*@Html.DisplayNameFor(model => model.PropertyCity)*@
            </th>
            <th>
                Address
                @*@Html.DisplayNameFor(model => model.PropertyAddress)*@
            </th>
            <th>
                Area-M2
                @*@Html.DisplayNameFor(model => model.PropertyArea)*@
            </th>
            <th>
                Price
                @*@Html.DisplayNameFor(model => model.PropertyPrice)*@
            </th>
            <th>
                Year
                @*@Html.DisplayNameFor(model => model.PropertyYearOfBuilt)*@
            </th>
            <th>
                Company
                @*@Html.DisplayNameFor(model => model.PropertyComBuilt)*@
            </th>
            <th>
                IsAvailable
                @*@Html.DisplayNameFor(model => model.isAvailable)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PropertyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyYearOfBuilt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyComBuilt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
